{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Registration ✅</h1>

    {{form_start(registerForm)}}

        {{form_row(registerForm.username)}}
        {{form_row(registerForm.password.first)}}
        {{form_row(registerForm.password.second)}}

        <button class="btn">Sign Up</button>
        
    {{form_end(registerForm)}}
    
</div>
{% endblock %}
